<!DOCTYPE html>
<html class="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Tailwind css #}

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class'
            }
        </script>
        {# Tailwind css #}

        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    {{ include('back/partials/_nav_bar.html.twig') }}

    <body class="font-mono bg-sky-100 text-black-800 m-10 dark:bg-gray-800 dark:text-white dark:font-mono">


        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

        {% block body %}{% endblock %}

    </body>

</html>