{% extends 'base.html.twig' %}

{% block title %} About Me {% endblock %}

{% block body %}

    <dl class="absolute bottom-80 left-80 max-w-md text-gray-900 divide-y divide-gray-500 dark:text-white dark:divide-gray-500">

        <div class="flex-shrink-0">
            <img class="w-8 h-8 " src="https://img.icons8.com/dusk/64/000000/contact-card.png" alt="Neil image">
        </div>

        <div class="flex flex-col pb-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email address</dt>
            <dd class="text-lg font-semibold">tresor.kone01@gmail.com</dd>
        </div>
        <div class="flex flex-col py-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">GitHub</dt>
            <a class="hover:text-blue-500" href="https://github.com/TresorKone">
                <dd class="text-lg font-semibold">https://github.com/TresorKone</dd>
            </a>

        </div>
        <div class="flex flex-col pt-3">
            <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Linkedin</dt>
            <a class="hover:text-blue-500" href="https://www.linkedin.com/in/tr%C3%A9sor-kon%C3%A9-092359254/">
                <dd class="text-lg font-semibold ">https://www.linkedin.com/in/tr%C3%A9sor-kon%C3%A9-092359254/</dd>
            </a>

        </div>
    </dl>



{% endblock %}