{% extends 'Base_BackOffice.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <h1 class="pb-2">Welcome back dear Admin</h1>

    <div>
        <img src="{{ asset('assets/img/02be8576836201.5c75a43be6e98i.gif') }}" alt="welcome back">
    </div>

{% endblock %}
