

{% block title %}Error 404{% endblock %}

{% block body %}

    <div>
        <img src="https://img.icons8.com/external-filled-outline-lima-studio/64/000000/external-arcade-arcade-filled-outline-lima-studio-9.png"/>
        <span>Nothings Here, go elsewhere</span>
        <img src="https://img.icons8.com/external-filled-outline-lima-studio/64/000000/external-arcade-arcade-filled-outline-lima-studio-9.png"/>
    </div>

    <div>
        <img src="{{ asset('assets/img/8351321.gif') }}">
    </div>

{% endblock %}